dist
Pexa-Qt.app
autom4te.cache
.vscode
.kubernetes
.github
roadmap
whitepaper
.gitignore
.gitattributes
.travis.yml
aclocal.m4
config.log
config.status
configure
libpexaconsensus.pc
libtool
Makefile
Makefile.in
Pexa-Qt.dmg
pexa.conf