{{ if .Env.RPC_USER }}
rpcuser={{ .Env.RPC_USER }}
{{ end }}
{{ if .Env.RPC_PORT }}
rpcport={{ .Env.RPC_PORT }}
{{ end }}
{{ if .Env.RPC_PASSWORD }}
rpcpassword={{ .Env.RPC_PASSWORD }}
{{ end }}
{{ if .Env.RPC_ALLOWIP }}
rpcallowip={{ .Env.RPC_ALLOWIP }}
{{ end }}
{{ if .Env.LISTEN }}
listen={{ .Env.LISTEN }}
{{ end }}
{{ if .Env.SERVER }}
server={{ .Env.SERVER }}
{{ end }}
rpcthreads={{ default .Env.RPC_THREADS "15" }}
rpcworkqueue={{ default .Env.RPC_WORK_QUEUE "100" }}