policy_module(pexa, 1.100.1)

########################################
#
# Declarations
#

type pexa_t;
type pexa_exec_t;
init_daemon_domain(pexa_t, pexa_exec_t)

permissive pexa_t;

type pexa_initrc_exec_t;
init_script_file(pexa_initrc_exec_t)

type pexa_conf_t;
files_type(pexa_conf_t)

type pexa_var_lib_t;
files_type(pexa_var_lib_t)

type pexa_var_run_t;
files_type(pexa_var_run_t)

type pexa_port_t;
corenet_port(pexa_port_t)

########################################
#
# pexa local policy
#
allow pexa_t self:process { fork };

allow pexa_t self:fifo_file rw_fifo_file_perms;
allow pexa_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(pexa_t, pexa_conf_t, pexa_conf_t)
manage_files_pattern(pexa_t, pexa_conf_t, pexa_conf_t)

manage_dirs_pattern(pexa_t, pexa_var_lib_t, pexa_var_lib_t)
manage_files_pattern(pexa_t, pexa_var_lib_t, pexa_var_lib_t)
files_var_lib_filetrans(pexa_t, pexa_var_lib_t, { dir file })

manage_dirs_pattern(pexa_t, pexa_var_run_t, pexa_var_run_t)
manage_files_pattern(pexa_t, pexa_var_run_t, pexa_var_run_t)

sysnet_dns_name_resolve(pexa_t)
corenet_all_recvfrom_unlabeled(pexa_t)

allow pexa_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(pexa_t)
corenet_tcp_sendrecv_generic_node(pexa_t)
corenet_tcp_sendrecv_all_ports(pexa_t)
corenet_tcp_bind_generic_node(pexa_t)

gen_require(`
    type pexa_port_t;
')
allow pexa_t pexa_port_t:tcp_socket name_bind;

gen_require(`
    type pexa_port_t;
')
allow pexa_t pexa_port_t:tcp_socket name_connect;

domain_use_interactive_fds(pexa_t)

files_read_etc_files(pexa_t)

miscfiles_read_localization(pexa_t)

sysnet_dns_name_resolve(pexa_t)

allow pexa_t pexa_exec_t:file execute_no_trans;
allow pexa_t self:process setsched;
corecmd_exec_ls(pexa_t)
corenet_tcp_connect_http_port(pexa_t)
dev_read_urand(pexa_t)
fs_getattr_xattr_fs(pexa_t)
kernel_read_system_state(pexa_t)
